html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#app {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}