.input-container {
  position: relative;
  margin-bottom: $spacing-lg;

  label {
    position: absolute;
    top: $spacing-md;
    left: 0;
    font-size: 0.95rem;
    color: $text-muted;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }

  input {
    border: none;
    border-bottom: 1px solid $color-gray-200;
    background-color: transparent;
    width: 100%;
    padding: $spacing-md 0 $spacing-sm 0;
    font-size: 0.95rem;
    color: $text-main;
  }

  input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid $color-brand-primary;
  }

  input:focus ~ label, input:valid ~ label {
    top: calc($spacing-xs * -1);
    font-size: 0.65rem;
  }
}