@import 'variables';
@import 'tables';
@import 'cards';
@import 'inputs';

body {
  font-family: $font-family-base;
}

div.innercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  width: 90%;
  height: 90%;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-gray-800;
  color: white;
  padding: 10px;
}

.main-header a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.main-header a.router-link-active {
  color: $color-brand-primary
}

.main-footer {
  background-color: $color-gray-100;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}